global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        # daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option forwardfor
        option http-server-close
        timeout connect 5000
        timeout client 50000
        timeout server 50000
        stats enable
        stats auth username:password
        stats uri /haproxyStats

frontend http-in
        bind *:80

        # Define hosts based on domain names
        acl sevenam_test hdr(host) -i 7am.randomthings.io

        ## figure out backend to use based on domainname
        use_backend sevenam if sevenam_test

        default_backend randomthings

backend randomthings # randomthings.io
    balance roundrobin
    option httpclose
    option forwardfor
    server randomthings randomthings:80
    option httpchk GET /
    http-check expect status 200

backend sevenam # 7am.randomthings.io
    balance roundrobin
    option httpclose
    option forwardfor
    server sevenam sevenam:80
    option httpchk GET /
    http-check expect status 200
